{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "hotels" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "hotels" %}</h3>
</div>

<div class="row" style="margin: 10px">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<table>
				<tbody>
					<tr>
						<td>
							<p>{% trans "countrys" %}</p>
						</td>
						<td>
							<input class="form-control mr-sm-2" type="search" value="{{countrys_search}}" name="countrys_search" style="width: 200px">
						</td>
					</tr>
					<tr>
						<td>
							<p>{% trans "regions" %}</p>
						</td>
						<td>
							<input class="form-control mr-sm-2" type="search" value="{{regions_search}}" name="regions_search" style="width: 200px">
						</td>
					</tr>
					<tr>
						<td>
							<p>{% trans "hotels" %}</p>
						</td>
						<td>
							<input class="form-control mr-sm-2" type="search" value="{{hotels_search}}" name="hotels_search" style="width: 200px">
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-outline-success" name="searchBtn" style="width:100px">{% trans "Search" %}</button>
							<button class="btn btn-outline-primary" name="resetBtn" type="submit" onClick="window.location.reload();" style="width:100px">{% trans "Reset" %}</button>
						</td>
						<td>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>
<hr>
{% if hotel.count > 0 %}
<div class="row">
	<table id="myTable" style="width:100%">
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for n in hotel %}
			<tr>
				<td>
					<div class="card">
						<div class="card-header">
							<h5>{{ n.country }}</h5>
							<h5>{{ n.region }}</h5>
							<h4><a href="{% url 'hotel_read' n.id %}">{{ n.title }}</a></h4>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<p>{{ n.details }}</p>
									{% if user.is_authenticated %}
										<form method="post">
											{% csrf_token %}
											<button type="submit" name="btn{{ n.id }}" id="btn_id{{ n.id }}" class="btn btn-outline-success" >{% trans "Apply" %}</button>
											<input hidden type="text" name="hotel_id" size="0" value="{{ n.id }}">
											<input hidden type="text" name="price" size="0" value="{{ n.price }}">
											<input hidden type="text" name="user" size="0" value="{{ user.id }}">
										</form>
									{% endif %}

								</div>
								<div class="col-md-4">
									{% if n.photo.url == "/ media /images/hotel1.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel1.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel2.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel2.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel3.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel3.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel4.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel4.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel5.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel5.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel6.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel6.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel7.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel7.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel8.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel8.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel9.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel9.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel10.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel10.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel11.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel11.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel12.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel12.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel13.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel13.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel14.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel14.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel15.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel15.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel16.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel16.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel17.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel17.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel18.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel18.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel19.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel19.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel20.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel20.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel21.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel21.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel22.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel22.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel23.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel23.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% elif n.photo.url == "/ media /images/hotel24.jpg" %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/hotel24.jpg' %}" alt="{{ n.title }}" title="{{ n.details }}">
									{% else %}
										{% if n.photo.url != None %}
											<img style="width:100%; max-width:400px;" src="{{ n.photo.url}}" alt="{{ n.title }}" title="{{ n.details }}">
										{% endif %}
									{% endif %}
									<p><div class="Stars" style='--rating: {{ n.avg_rating| stringformat:".1f" }};'></div></p>							
								</div>
							</div>
						</div>
						<div class="card-footer text-muted">
							<p><strong>{% trans "price" %}</strong>: {{ n.price }}<p>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
<script type="text/javascript">
	$(".chosen").chosen();
</script>
{% endblock content %}
