{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "claim" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<p><strong>{% trans "datec" %}</strong>: {{ claim.datec  | date:"d.m.Y" }}<p>			
			<h4>{{ claim.user.last_name }} {{ claim.user.first_name }}</h4>			
		</div>
		<div class="card-body">
			<div class="row">
			</div>
			<div class="row">
				<div class="col-md-6">				
					<p><strong>{% trans "date" %}</strong>: {{ claim.start  | date:"d.m.Y" }}-{{ claim.finish  | date:"d.m.Y" }}<p>
					<p><strong>{% trans "claim_details" %}</strong>: {{ claim.details }}</p>						
					<p><strong>{% trans "claim_result" %}</strong>: {{ claim.result }}</p>						
				</div>
				<div class="col-md-6">
					<p><strong>{% trans "region" %}</strong>: {{ claim.hotel.region }}<p>
					<p><strong>{% trans "hotel_title" %}</strong>: {{ claim.hotel.title }}<p>
					<p><strong>{% trans "price" %}</strong>: {{ claim.hotel.price }}<p>
				</div>
			</div>				
		</div>
		<div class="card-footer">				
			
		</div>		
	</div>
	<a class="btn btn-outline-info" style="width:100px; margin-top:5px" onclick="history.back()">{% trans "Back" %}</a>    	
</div>

{% endblock content %}